:root {
  --primary-header-color: #303030;
  --second-header-color: #ffffff;
  --primary-link-color: #ffffff;
  --accent-color: #ff6c00;

  --main-font: 'Open Sans', sans-serif;
}

body {
  font-family: var(--main-font);
}
/* Universal classes */
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}
.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
}
.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}
.title {
  font-family: 'Raleway', sans-serif;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
}
.after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}
/* -----------HEADER----------- */
header {
  background-color: gray;
}
.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--primary-link-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--primary-link-color);
}
.header-btn {
  color: #ffffff;
}
/* -----------HERO----------- */
.hero {
  background-color: #737373;
}
.sub-title {
  color: rgba(157, 164, 189, 0.6);
}
.hero-title {
  color: var(--second-header-color);
}
.hero-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.hero-links {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}
.hero-links:hover,
.hero-links:focus {
  color: var(--accent-color);
}

/* -----------ABOUT----------- */

.about-pre-title {
  color: #303030;
}
.about-title {
  color: var(--primary-header-color);
}
.about-after-title {
  color: #555555;
}
.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
}
.about-btn {
  color: #303030;
}

/* -----------PRICES----------- */
.prices-pre-title {
  color: rgba(157, 164, 189, 0.6);
}
.prices-title {
  color: var(--second-header-color);
}
.prices-elem {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.prices-btn {
  color: #ffffff;
}
/* -----------BENEFITS----------- */
.benefits-items > span {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
}
.benefits-items > sup {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: var(--accent-color);
}
.benefits-pre-title {
  color: #303030;
}
.benefits-title {
  color: var(--primary-header-color);
}
.benefits-after-title {
  color: #555555;
}

/* -----------BARBERS----------- */
.barbers-pre-title {
  color: #303030;
}
.barbers-title {
  color: var(--primary-header-color);
}
.barbers-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
}
.barbers-info {
  font-size: 14px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

/* -----------GALLERY----------- */
.gallery-pre-title {
  color: #303030;
}

/* -----------FORM----------- */
.form-title {
  color: var(--primary-header-color);
}
/* -----------CONTACTS----------- */
.contacts {
  background-color: #303030;
}
.contacts-title {
  color: var(--second-header-color);
}
.contact-links {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.contact-address {
  font-weight: 700;
}
.contacts-pre-title {
  color: #ffffff;
}
.contacts-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

/* -----------FOOTER----------- */
.footer-copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}
.footer-links {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}
.footer-links:hover,
.footer-links:focus {
  color: var(--accent-color);
}
