:root {
  --primary-header-color: #303030;
  --second-header-color: #ffffff;
  --primary-link-color: #ffffff;
  --accent-color: #ff6c00;

  --main-font: 'Open Sans', sans-serif;

  --main-margin: 20px;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
ul,
ol {
  margin: 0px;
  padding-left: 0px;
}
button {
  cursor: pointer;
}
img {
  display: block;
}
body {
  font-family: var(--main-font);
}
/* Universal classes */
.container {
  width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}
.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid var(--accent-color);
  background-color: transparent;
  border-radius: 25px;
  height: 40px;
  min-width: 160px;
}
.btn:hover,
.btn:focus {
  background-color: var(--accent-color);
}
.pre-title {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  text-transform: uppercase;
}
.title {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  letter-spacing: 0.05em;
}
.after-title {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}

.pre-title {
  display: flex;
  align-items: center;
}
.pre-title::before {
  content: '';
  width: 60px;
  height: 1px;
  display: block;
  background-color: currentColor;
  margin-right: 20px;
}
/* -----------HEADER----------- */
header {
  background-color: gray;
}
header .container {
  display: flex;
  align-items: center;
}
.header-list {
  display: flex;
}
.header-logo {
  padding: 32px 0;
  display: block;
  margin-right: 130px;
}
.header-link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--primary-link-color);
}
.header-list > li:not(:last-child) {
  margin-right: 30px;
}
/* .header-list li + li {
  margin-left: 30px;
} */
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}
.header-cont {
  margin-left: auto;
}
.header-tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--primary-link-color);
}
.header-btn {
  color: #ffffff;
  margin-left: 40px;
}
/* -----------HERO----------- */

.hero-list {
  width: 100px;
}
.hero .container {
  display: flex;
}
.hero-right {
  padding: 184px 526px 208px 100px;
  flex-grow: 1;
  background-image: linear-gradient(rgba(25, 28, 38, 0.2), rgba(25, 28, 38, 0.2)),
    url('../img/hero_bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #303030;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.hero-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--main-margin);
}
.hero-title {
  font-family: 'Raleway', sans-serif;
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--second-header-color);
  margin-bottom: var(--main-margin);
}
/* .hero-title {
  display: flex;
  align-items: baseline;
}
.hero-title::before {
  content: '';
  width: 20px;
  height: 20px;
  background-color: #ff6c00;
  margin-right: 10px;
}
.hero-title::after {
  content: '!';
  color: #ff6c00;
  font-size: 90px;
} */
.hero-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
  max-width: 370px;
}
.hero-links {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}
.hero-links:hover,
.hero-links:focus {
  color: var(--accent-color);
}
/* -----------ABOUT----------- */
.about {
  padding: 120px 0;
}
.about .container {
  display: flex;
}
.list-about {
  display: flex;
}
.about-wrap {
  margin-left: 30px;
}
.about-items:not(:last-child) {
  margin-right: 30px;
}
.about-pre-title {
  color: #303030;
  margin-bottom: var(--main-margin);
}
.about-title {
  color: var(--primary-header-color);
  margin-bottom: var(--main-margin);
}
.about-after-title {
  color: #555555;
  margin-bottom: var(--main-margin);
}
.about-text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 42px;
}
.about-btn {
  color: #303030;
}

/* -----------PRICES----------- */
.prices {
  padding: 120px 0;
  background-image: url('../img/prices_bg.png');
  background-color: #111319;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1600px;
  margin: 0 auto;
}
.prices-pre-title {
  color: rgba(157, 164, 189, 0.6);
  margin-bottom: var(--main-margin);
}
.prices-title {
  color: var(--second-header-color);
  margin-bottom: 44px;
}
.prices-list-wrap {
  display: flex;
  gap: 30px;
}
.prices-list {
  padding: 30px 20px;
  flex-grow: 1;
}
.prices-list:first-child {
  background-image: linear-gradient(180deg, #171a24 0%, rgba(23, 26, 36, 0.2) 100%);
}
.prices-list:last-child {
  background-image: linear-gradient(180deg, #090b13 0%, rgba(9, 11, 19, 0.2) 100%);
}
.prices-items {
  margin-bottom: var(--main-margin);
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.prices-items::before {
  content: '';
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  flex-grow: 1;
  margin: 0 12px;
}
.prices-elem:first-child {
  order: -1;
}
/* .prices-items::after {
  content: '';
  height: 1px;
  background-color: rgba(157, 164, 189, 0.12);
  flex-grow: 1;
  margin: 0 12px;
}
.prices-elem:last-child {
  order: 1;
} */
.prices-items:last-child {
  margin-bottom: 0px;
}
.prices-elem {
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.prices-btn {
  color: #ffffff;
  margin: 0 auto;
  display: block;
  margin-top: 44px;
}
/* -----------BENEFITS----------- */
.benefits {
  padding: 120px 0;
}
.benefits .container {
  display: flex;
}
.benefits-list-wrap {
  width: calc(50% + 15px);
  display: flex;
  justify-content: center;
}
.benefits-items {
  background: #f7f7f7;
  width: 170px;
  height: 133px;
  padding: 20px 24px;
  text-align: center;
}
.benefits-list {
  display: flex;
  flex-wrap: wrap;
  width: 370px;
}
.benefits-items:nth-child(2n + 1) {
  margin-right: 30px;
}
.benefits-items:nth-child(2n) {
  margin-top: 30px;
}
.benefits-items > span {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.05em;
  color: #303030;
  display: inline-block;
}
.benefits-items > span {
  display: flex;
  justify-content: center;
}
.benefits-items > span::after {
  content: '+';
  font-weight: 600;
  font-size: 16px;
  line-height: 1.38;
  text-align: center;
  color: var(--accent-color);
}
.benefits-items > p {
  font-weight: 600;
  font-size: 11px;
  line-height: 15px;
  text-align: center;
  color: #303030;
}
.benefits-wrap {
  padding-top: 9px;
  padding-right: 70px;
}
.benefits-pre-title {
  color: #303030;
  margin-bottom: var(--main-margin);
}
.benefits-title {
  color: var(--primary-header-color);
  margin-bottom: var(--main-margin);
}
.benefits-after-title {
  color: #555555;
}

/* -----------BARBERS----------- */
.barbers {
  padding: 120px 0;
  background-color: #f7f7f7;
}
.barbers-pre-title {
  color: #303030;
  margin-bottom: var(--main-margin);
}
.barbers-title {
  color: var(--primary-header-color);
  margin-bottom: 44px;
}
.barbers-list {
  display: flex;
}
.barbers-items:not(:last-child) {
  margin-right: 30px;
}
.barbers-items {
  flex-basis: calc((100% - 60px) / 3);
}
.barbers-name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
  margin-top: 30px;
  margin-bottom: 8px;
}
.barbers-info {
  font-size: 14px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 30px;
}
.barbers-soc-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.barbers-soc-items {
  width: 44px;
  height: 44px;
}
.barbers-soc-items:not(:last-child) {
  margin-right: 10px;
}
.barbers-soc-link {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: #fff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: #000;
}
.barbers-soc-link:hover {
  color: var(--accent-color);
}
.barbers-soc-icons {
  fill: currentColor;
}
/* .barbers-soc-link:hover {
  background-color: #000;
  color: var(--accent-color);
}
.barbers-soc-icons {
  fill: currentColor;
} */
/* .barbers-soc-link:hover .barbers-soc-icons {
  fill: var(--accent-color);
} */

/* -----------GALLERY----------- */
.gallery {
  padding: 120px 0;
}
.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.gallery-item {
  width: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-bottom: 30px;
}
.gallery-pre-title {
  color: #303030;
  margin-bottom: 44px;
}
/* -----------CONTACT-WRAP----------- */
.contact-wrap {
  background-color: #191c26;
  background-image: url('../img/contacts_bg.png');
  background-repeat: no-repeat;
  background-size: calc(50% - 15px);
  background-position: center right;
}
.contact-wrap > .container {
  display: flex;
}
/* -----------FORM----------- */
.form {
  width: calc(50% + 15px);
  padding-top: 130px;
}
.form-title {
  color: var(--primary-header-color);
}
/* -----------CONTACTS----------- */
.contacts {
  width: calc(50% - 15px);
  padding-top: 130px;
  padding-bottom: 120px;
  padding-left: 100px;
}
.contacts-title {
  color: var(--second-header-color);
}
.contact-links {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}
.contact-address {
  font-weight: 700;
}
.contacts-pre-title {
  color: #ffffff;
}
.contacts-text {
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: #9da4bd;
}

/* -----------FOOTER----------- */
.footer {
  padding: 56px 0px;
}
.footer-copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}
.footer-links {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
}
.footer-links:hover,
.footer-links:focus {
  color: var(--accent-color);
}
/* modal */

.backdrop.is-hidden .modal {
  transform: scale(0.5);
}

.modal {
  width: 500px;
  min-height: 500px;
  background-color: #ffffff;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms;
  padding: 35px;
}

.modal-close {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #999999;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
}

.is-hidden {
  opacity: 0.5;
  pointer-events: none;
  visibility: hidden;
}
.modal-heading {
  font-size: 24px;
  color: #191c26;
  text-align: center;
  font-weight: 700;
  margin-bottom: 20px;
}
.modal-input,
.modal-select {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 10px;
  color: #303030;
  font-size: 14px;
}
.modal-input::placeholder {
  color: var(--accent-color);
  font-weight: 700;
}
.modal-input:required {
  border-color: var(--accent-color);
}
.modal-input:not(:focus):not(:placeholder-shown):valid {
  background-color: rgba(0, 255, 0, 0.2);
}
.modal-input:not(:focus):not(:placeholder-shown):invalid {
  background-color: rgba(255, 0, 0, 0.2);
}
.modal-input-group {
  margin-bottom: 10px;
}
.modal-input-group label {
  color: #191c26;
  display: block;
  margin-bottom: 10px;
}
.modal-text {
  width: 100%;
  height: 140px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 10px;
  color: #303030;
  font-size: 14px;
  resize: vertical;
  max-height: 250px;
  padding: 10px;
}
input[type='radio']:checked + label {
  background-color: var(--accent-color);
}
