.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  border: 1px solid var(--accent-color);
  background-color: transparent;
  border-radius: 25px;
  height: 40px;
  min-width: 160px;
  transition: all 500ms linear;
  &:hover,
  &:focus {
    background-color: var(--accent-color);
  }
}
