@mixin font($fs: 14, $fw: 400, $lh: 16, $ls: 0.02) {
  font-size: $fs + px;
  font-weight: $fw;
  line-height: $lh / $fs;
  letter-spacing: $ls + em;
}

@mixin tel {
  @media screen and (min-width: 480px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1200px) {
    @content;
  }
}
