:root {
  --primary-header-color: #303030;
  --second-header-color: #ffffff;
  --primary-link-color: #ffffff;
  --accent-color: #ff6c00;

  --main-font: 'Open Sans', sans-serif;

  --main-margin: 20px;
}
