.about {
  padding: 120px 0;
  & .container {
    display: flex;
  }
}

.picture-list {
  display: flex;
}
.about__elements-wrap {
  margin-left: 30px;
}
.picture-list__items:not(:last-child) {
  margin-right: 30px;
}
.elements-wrap__pre-title {
  margin-bottom: var(--main-margin);
}
.elements-wrap__title {
  color: var(--primary-header-color);
  margin-bottom: var(--main-margin);
}
.elements-wrap__after-title {
  color: #555555;
  margin-bottom: var(--main-margin);
}
.elements-wrap__text {
  font-size: 14px;
  line-height: 1.86;
  letter-spacing: 0.02em;
  color: #555555;
  margin-bottom: 42px;
}
.elements-wrap__btn {
  color: #303030;
}
