.barbers {
  padding: 120px 0;
  background-color: #f7f7f7;
}
.barbers__pre-title {
  color: #303030;
  margin-bottom: var(--main-margin);
}
.barbers__title {
  color: var(--primary-header-color);
  margin-bottom: 44px;
}
.card-list {
  display: flex;
}

.card-list__items {
  flex-basis: calc((100% - 60px) / 3);
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.card-list__name {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.38;
  text-align: center;
  letter-spacing: 0.02em;
  color: #303030;
  margin-top: 30px;
  margin-bottom: 8px;
}
.card-list__info {
  font-size: 14px;
  line-height: 1.35;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-bottom: 30px;
}
.social {
  justify-content: center;
  @extend %flex-align;
}
.social__items {
  width: 44px;
  height: 44px;
  &:not(:last-child) {
    margin-right: 10px;
  }
}
.social__link {
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 50%;
  justify-content: center;
  @extend %flex-align;
  color: #000;
  &:hover {
    color: var(--accent-color);
  }
}

.social__icons {
  fill: currentColor;
}
/* .barbers-soc-link:hover {
  background-color: #000;
  color: var(--accent-color);
}
.barbers-soc-icons {
  fill: currentColor;
} */
/* .barbers-soc-link:hover .barbers-soc-icons {
  fill: var(--accent-color);
} */
