.footer {
  padding: 56px 0px;
}
.footer-copy {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #9da4bd;
}
.footer-links {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.2em;
  color: #303030;
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
