header {
  position: absolute;
  width: 100%;
  left: 0;
  padding-top: 32px;
  padding-bottom: 32px;
  & .container {
    @extend %flex-align;
  }
}
.navigation {
  display: none;
}
.navigation__list {
  display: flex;
}
.logo {
  display: block;
}
.header__logo {
  margin-right: 130px;
}
.navigation__link {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--primary-link-color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.navigation__list > li:not(:last-child) {
  margin-right: 30px;
}
/* .header-list li + li {
  margin-left: 30px;
} */
.connection {
  margin-left: auto;
  display: none;
}
.connection__tel {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.1em;
  color: var(--primary-link-color);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}
.connection__btn {
  color: #ffffff;
  margin-left: 40px;
}

.menu-open {
  margin-left: auto;
}
.mobile-menu {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  top: 0px;
  left: 0px;
  right: 0px;
  transition: left 300ms, visibility 300ms;
  & .container {
    display: block;
    height: 100%;
  }
  .is-hidden {
    left: -100px;
    right: auto;
  }
  @include tablet {
    display: none;
  }
}
.menu-close {
  display: block;
  margin-left: auto;
  margin-right: 0;
}
.mob-navigation-list > li:not(:last-child) {
  margin-bottom: 24px;
}
.mob-navigation-link {
  color: #303030;
  @include font(18, 600, 25, 0.1);
}
.mob-navigation-link.current {
  color: var(--accent-color);
}
.mob-connection-tel {
  color: #303030;
  @include font(18, 600, 25, 0.1);
  display: block;
  margin-bottom: 24px;
}

.mob-social-link-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-left: 100px;
  position: relative;
  margin-top: 40px;
  &::before {
    content: '';
    width: 60px;
    height: 1px;
    display: block;
    position: absolute;
    background-color: #303030;
    left: 0px;
    top: 9px;
  }
}
.mob-social-link-links {
  @include font(14, 600, 19, 0.2);
  color: #303030;
}

.menu-content {
  padding: 48px 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-between;
}
